<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}} | {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="centered-form">
<div class="centered-form__form">
    <form method="post">
        <div class="form-field">
            <h3>{{title}}</h3>
        </div>
        <div class="form-field">
            <label style="text-transform: capitalize">{{email}}</label>
            <input type="text" name="{{email}}" required autofocus/>
            <label style="text-transform: capitalize">{{password}}</label>
            <input type="text" name="{{password}}" required autofocus/>
            <label style="text-transform: capitalize">{{key}}</label>
            <input type="text" name="{{key}}" required autofocus/>
        </div>
        <div class="form-field">
            <button>{{button}}</button>
        </div>
    </form>
</div>
</body>
</html>