<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}} | {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="centered-form">
<div class="centered-form__form">
    <form id="{{name}}" method="post" action="{{action}}">
        <div class="form-field">
            <h3>{{title}}</h3>
        </div>
        <div class="form-field">
            <label style="text-transform: capitalize">{{dataGame}}</label>
            <input id="{{dataGame}}" type="text" name="{{dataGame}}" required/>
        </div>
    </form>
    <div class="form-field">
        <button form="{{name}}" type="submit">{{name}}</button>
    </div>
</div>
</body>
<!-- SuperBarrio core JavaScript
================================================== -->

<!-- SuperBarrio core JavaScript
================================================== -->
</html>