button, button:hover {
    border: none;
    color: #fff;
    padding: 10px
}

.dashboard__sidebar ul {
    list-style-type: none
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem
}

li, ul {
    list-style-position: inside
}

h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem
}

button {
    background: #222222;
    cursor: pointer;
    transition: background .3s ease
}

button:hover {
    background: #111111
}

button:disabled {
    cursor: default;
    background: #333333
}

.centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgb(34, 34, 34) 0, rgb(17, 17, 17) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgb(17, 17, 17)), color-stop(100%, rgb(34, 34, 34)));
    background: -webkit-linear-gradient(125deg, rgb(34, 34, 34) 0, rgb(17, 17, 17) 100%);
    background: -o-linear-gradient(125deg, rgb(34, 34, 34) 0, rgb(17, 17, 17) 100%);
    background: -ms-linear-gradient(125deg, rgb(34, 34, 34) 0, rgb(17, 17, 17) 100%);
    background: linear-gradient(325deg, rgb(34, 34, 34) 0, rgb(17, 17, 17) 100%)
}

.centered-form__form {
    background: rgba(250, 250, 250, .9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px;
    width: 230px
}

.form-field {
    margin: 20px 0
}

.form-field > * {
    width: 100%
}

.form-field label {
    display: block;
    margin-bottom: 7px
}

.form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px
}

.dashboard {
    height: 100vh;
    width: 100vw;
}

.dashboard_statistics__title {
    margin: 5px 0;
    text-align: left;
}

/*.dashboard__sidebar {*/
/*overflow-y: scroll;*/
/*}*/

.jumbotron {
    height: 100vh;
    width: 100vw;
}

#superBarrioMap, #superBarrio-barcelona, superBarrioScores__group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__superBarrioMap {
    padding: 0 0 0 0;
    position: absolute;
    /*background: -moz-linear-gradient(125deg, rgb(17, 17, 17) 0, rgb(34, 34, 34) 100%);*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgb(34, 34, 34)), color-stop(100%, rgb(17, 17, 17)));*/
    /*background: -webkit-linear-gradient(125deg, rgb(17, 17, 17) 0, rgb(34, 34, 34) 100%);*/
    /*background: -o-linear-gradient(125deg, rgb(17, 17, 17) 0, rgb(34, 34, 34) 100%);*/
    /*background: -ms-linear-gradient(125deg, rgb(17, 17, 17) 0, rgb(34, 34, 34) 100%);*/
    /*background: linear-gradient(325deg, rgb(17, 17, 17) 0, rgb(34, 34, 34) 100%)*/
}

.dashboard__superBarrioStatistics {
    height: 100%;
    width: 100%;
}

.superBarrioScores__frame {
    margin: 1px 0 0 0;
    border-style: solid none none none;
    border-color: #FAFAFA;

}

.superBarrioScores__frame_ {
    margin: 1px 0 1px 0;
    border-style: solid none solid none;
    border-color: #FAFAFA;

}

/*dashboard__map{*/
/*padding-left: 10px;*/
/*padding-top: 10px;*/
/*}*/

.dashboard__footer, .dashboard__sidebar li {
    padding: 10px
}

.dashboard__sidebar h3 {
    margin: 10px 20px;
    text-align: left;
}

.dashboard__sidebar li {
    border: 1px solid #000000;
    border-radius: 1px;
    margin: 1px
}

.dashboard_statistics li {
    font-size: 1.3em;
    text-transform: capitalize;
    text-align: left;
}
.legend_bold {
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard_statistics ul {
    list-style-type: none
}

/*.dashboard__main {*/
/*display: flex;*/
/*flex-direction: column;*/
/*!*height: 100vh;*!*/
/*!*width: 100%;*!*/
/*}*/

/*.dashboard__messages {*/
/*flex-grow: 1;*/
/*overflow-y: scroll;*/
/*-webkit-overflow-scrolling: touch;*/
/*padding: 10px*/
/*}*/

/*.dashboard__footer {*/
/*display: flex;*/
/*flex-shrink: 0*/
/*}*/

/*.dashboard__footer form {*/
/*flex-grow: 1;*/
/*display: flex*/
/*}*/

/*.dashboard__footer form * {*/
/*margin-right: 10px*/
/*}*/

/*.dashboardt__footer input {*/
/*border: none;*/
/*padding: 10px;*/
/*flex-grow: 1*/
/*}*/

/*.message {*/
/*padding: 10px*/
/*}*/

/*.message__title {*/
/*display: flex;*/
/*margin-bottom: 5px*/
/*}*/

/*.message__title h4 {*/
/*font-weight: 600;*/
/*margin-right: 10px*/
/*}*/

/*.message__title span {*/
/*color: #999*/
/*}*/

/*@media (max-width: 600px) {*/
/** {*/
/*font-size: 1rem*/
/*}*/

/*.dashboard__footer {*/
/*flex-direction: column*/
/*}*/

/*.dashboard__footer form {*/
/*margin-bottom: 10px*/
/*}*/

/*.dashboard__footer button {*/
/*margin-right: 0*/
/*}*/
/*}*/